@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}

html { 
    font-size: 80%; 
    font-family: 'Bebas Neue', sans-serif;
}




@import "variabels";
@import "index.scss";
@import "concierto.scss";
@import "contacto.scss";
@import "discografia.scss";
@import "galeria.scss";