.galeria{
    background-size: cover;
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    .imgaleria{
        display: flex;
        justify-content: space-evenly;
        background-color: black;
    }
}